p.message-status {
	font-size: 16px;
	font-weight: 500;
}

.winner-message {
	padding: 20px;
	background: #f3f3f3;
	border-radius: 16px;
	box-shadow: #cba6f7 6px 2px 16px 0px, #f38ba8 -6px -2px 16px 0px;
}
