button {
  background: linear-gradient(0.15turn, #3f87a6, #ebf8e1, #f69d3c);;
  padding: 6px 32px;
  border-radius: 26px;
  font-weight: normal;
  cursor: pointer;
  font-size: 1em;
  color: #000;
  border: none;
}

button:hover {
  background: linear-gradient(0.75turn, #3f87a6, #ebf8e1, #f69d3c);;
  color: var(--ctp-mocha-text);
}

.title {
  font-size: 32px;
  font-weight: bold;
}