@import url('https://unpkg.com/@catppuccin/palette@0.1.4/css/catppuccin.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis:weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: var(--ctp-mocha-text);
	background: var(--ctp-mocha-base);

}
